'--with-incdirs=-I/Users/evaleev/Development/boost/install/include' '--enable-generic-code' '--with-max-am=6' '--with-opt-am=3' '--enable-eri3=0' '--enable-eri3-pure-sh' '--enable-eri2=0' '--enable-eri2-pure-sh' '--enable-fma' 'CXX=clang++' 'CXXFLAGS=-std=c++11 -march=native -O1' 'CPPFLAGS=-I/usr/local/include/eigen3'
